* {
  box-sizing: border-box;
  font-family: 'Nova Square', cursive;
  margin: 0;
  padding: 0;
}
body {
  background-color: #333;
  color: #f7f7f7;
}
.container {
  padding: 1%;
}
.canvas-wrap {
  clear: both;
  height: 400px;
  overflow: hidden;
  width: 420px;
}
.info-box {
  background-color: #111;
  clear: both;
  font-size: 1em;
  margin-bottom: 2%;
  overflow: hidden;
  padding: 3%;
}
.info-box .left {
  float: left;
}
.info-box .right {
  float: right;
}
.info, .canvas {
  width: 50%;
  float: left;
}
.canvas {
  width: 49%;
}
#gameover {
  background-color: rgba(1,1,1, .5);
  height: 100%;
  position: relative;
  visibility: hidden;
  width: 100%;
  z-index: 100;
}
#gameover .final-info {
  color: #611;
  font-size: 2em;
  text-align: center;
}
.text-center {
  text-align: center;
}
button {
  font-family: Helvetica;
  padding: 1%;
}
.next-piece {
  text-align: center;
  margin-top: 5%;
}
#playgame {
  background-color: rgba(1,1,1, .5);
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 100;
}
.link {
  color: white;
}